<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Stocks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>
<body class="bg-sky-950 overflow-x-hidden">
    <!-- Contenido de la página -->
    <div class="bg-sky-800 px-4 py-3 text-white mb-5">
        <p class="text-center text-md font-bold">
        Finance Dashboard - Utima Fecha de actualización:  "{{ fecha_actual }}" - Empresa: {{ nombre_empresa }}
        </p>
    </div>
    <div class="mx-10 mb-14">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>

